body {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    letter-spacing: 0.10em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-nav {
    font-size: 1.5em;
    white-space: nowrap;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.nav-item {
    padding-right: 10px;
}

#dropdown-item {
    padding-left: 5px;
    text-decoration: none;
    color: gray;
}

#imageField {
    width: 50px;
    height: 50px;
}

.calendarHeader {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button {
    height: 50px;
}

#content {
    color: white;
    font-size: 1.5em;
}