body {
      background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("white.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    letter-spacing: 0.10em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-nav {
    font-size: 1.5em;
    white-space: nowrap;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.nav-item {
    padding-right: 10px;
}

.nav-link {
    font-weight: bold;
}

#dropdown-item {
    padding-left: 5px;
    text-decoration: none;
    color: gray;
}

#imageField {
    width: 50px;
    height: 50px;
}

button {
    height: 50px;
}

#content {
    color: white;
    font-size: 1.5em;
    /* text-align: center; */
}

.display-2 {
    color: white;
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    margin-left: 5%;
    margin-top: 15%;
}

.calendarHeader {
    letter-spacing: 2px;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgb(28, 179, 206), 0 0 15px rgb(28, 179, 206), 0 0 5px rgb(28, 179, 206);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#displayWorkouts, #addEventDiv {
    background-color: rgb(28, 179, 206);
}

#addButton {
    margin-right: 15px;
    font-weight: bold;
    color: white;
}

#eventName {
    margin-right: 15px;
}

#welcome {
    text-shadow: 1px 1px 2px rgb(28, 179, 206), 0 0 15px rgb(28, 179, 206), 0 0 5px rgb(28, 179, 206);
}

#foodCardDiv {
    text-align: center;
    /* width: fit-content; */
    margin-left: 4.5%;
}

#foodCards {
    background-color: rgb(28, 179, 206);
    color: white;
    font-size: 1.2em;
    width: 18rem; 
    height: 15em;
    float: left; 
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 5px 10px 18px #888888;
}